<!DOCTYPE html>
<html>
  <head>
    <title> <%= sym %> Stock Price Prediction</title>
  </head>
  <body>
    <h1> <%= sym %> Stock Price Prediction</h1>
    <div>
      <img src="/lstm/<%= sym %>.png" frameborder="2px" width="1000px" height="600px">
    </div>
  </body>
</html>
